<div class="row">
  <div class="col box d-flex align-items-center justify-content-center">
    <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
  </div>
  <div class="col-9 textCol">
    <div class="row subrow">
      <div class="col-12 headings" id="subHeading"><p>swampfox</p></div>
    </div>
    <div class="row subrow">
      <div class="col-12 headings" id="heading">
        <p>admin central</p>
      </div>
    </div>
  </div>
  <div class="col box d-flex align-items-center justify-content-center">
    <fa-icon
      [icon]="['fas', 'user-circle']"
      size="2x"
      class="menuIcons"
    ></fa-icon>
  </div>
  <div class="col box d-flex align-items-center justify-content-center">
    <fa-icon [icon]="['fas', 'bell']" size="2x" class="menuIcons"></fa-icon>
  </div>
  <div class="col box d-flex align-items-center justify-content-center">
    <fa-icon [icon]="['fas', 'question-circle']" size="2x"></fa-icon>
  </div>
</div>
