<div class="row">
  <div class="col-5 textCol">
    <div class="row subrow">
      <div class="col headings" id="subHeading">
        <p>console</p>
      </div>
    </div>
    <div class="row subrow">
      <div class="col headings" id="heading">
        <p>Managing license</p>
      </div>
    </div>
  </div>
  <div class="col-3 searchCol">
    <div class="input-group">
      <div class="form-outline">
        <input
          type="search"
          id="form1"
          class="form-control"
          placeholder="Search"
        />
      </div>
      <button type="button" class="btn btn-outline dark searchBtn">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="col btnCol">
    <!-- <div class="border"></div> -->
    <button class="btn btn-outline-dark toolBtn">Delete</button>
    <button class="btn btn-outline-dark toolBtn">Copy</button>
    <button class="btn btn-outline-dark toolBtn">New</button>
  </div>
  <div class="col menuCol">
    <!-- <div class="border"></div> -->
    <button class="btn btn-outline-dark toolBtn">
      <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
    </button>
  </div>
</div>
